<accordion>
  <accordion-group is-open="accordionStatus.open">
    <accordion-heading>
      Add piece<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.open, 'glyphicon-chevron-right': !accordionStatus.open}"></i>
    </accordion-heading>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h4>Piece name</h4>
          <input type="text" class="form-control" placeholder="Best piece ever..?" ng-model="newPiece.title"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Target tempo</h4>
          <input type="text" class="form-control" ng-model="newPiece.targetTempo"/>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" ng-click="addToList()">Add piece</button>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>
<div>
  <div ng-show="!pieces.length">
    <h3>
    Add some pieces and let's get practicing!
    </h3>
  </div>
  <div ng-show="practicePieces.length">
    <h4>Practice Pieces</h4>
    <accordion>
      <accordion-group ng-repeat="piece in practicePieces track by $index" is-open="piece.open">
        <accordion-heading>
          {{piece.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': piece.open, 'glyphicon-chevron-right': !piece.open}"></i>
        </accordion-heading>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h4>Title</h4>
              <input type="text" class="form-control" ng-model="piece.title" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h4>Practice Tempo</h4>
              <input type="text" class="form-control" ng-model="piece.practiceTempo" ng-change="updatePiece()"/>
            </div>
            <div class="col-xs-6">
              <h4>Target Tempo</h4>
              <input type="text" class="form-control" ng-model="piece.targetTempo" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Bars to Practice</h4>
              <input type="text" class="form-control" ng-model="piece.bars" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Notes</h4>
              <textarea rows="3" class="form-control" ng-model="piece.notes" ng-change="updatePiece()"></textarea>
            </div>
          </div>
        </div>
        <br/>
        <div>
          <button type="button" class="btn btn-danger" ng-click="removeFromList(piece)">Remove piece</button>
          <span ng-show="piece.done">
            <button type="button" class="btn btn-info" ng-click="markUnmarkAsDone(piece)">Mark as Undone</button>
          </span>
          <span ng-show="!piece.done">
            <button type="button" class="btn btn-success" ng-click="markUnmarkAsDone(piece)">Mark as Done</button>
          </span>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div ng-show="donePieces.length">
    <h4>Done Pieces</h4>
    <accordion>
      <accordion-group ng-repeat="piece in donePieces track by $index" is-open="piece.open">
        <accordion-heading>
          {{piece.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': piece.open, 'glyphicon-chevron-right': !piece.open}"></i>
        </accordion-heading>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h4>Title</h4>
              <input type="text" class="form-control" ng-model="piece.title" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h4>Practice Tempo</h4>
              <input type="text" class="form-control" ng-model="piece.practiceTempo" ng-change="updatePiece()"/>
            </div>
            <div class="col-xs-6">
              <h4>Target Tempo</h4>
              <input type="text" class="form-control" ng-model="piece.targetTempo" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Bars to Practice</h4>
              <input type="text" class="form-control" ng-model="piece.bars" ng-change="updatePiece()"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Notes</h4>
              <textarea rows="3" class="form-control" ng-model="piece.notes" ng-change="updatePiece()"></textarea>
            </div>
          </div>
        </div>
        <br/>
        <div>
          <button type="button" class="btn btn-danger" ng-click="removeFromList(piece)">Remove piece</button>
          <span ng-show="piece.done">
            <button type="button" class="btn btn-info" ng-click="markUnmarkAsDone(piece)">Mark as Undone</button>
          </span>
          <span ng-show="!piece.done">
            <button type="button" class="btn btn-success" ng-click="markUnmarkAsDone(piece)">Mark as Done</button>
          </span>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
